<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>11-SupportGroup</title>
<link href="support.css" rel="stylesheet" type="text/css" />
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <div id="container">
    <div class="banner"><img src="images/banner.gif" alt="Banner" width="726" height="88" /></div>
    <div class="searcbar">
      <label>
      <select name="user" class="select01" id="user">
        <option>User Shortcut</option>
            </select>
      </label>
    <input name="textfield" type="text" class="input01" id="password" />
          <label>
      <select name="user" class="select02" id="user">
        <option>People</option>
          </select>
      </label>
          <label>
          <input type="submit" name="Search" id="Search" value="Search" />
          </label>
    </div>
    <div class="navigation">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Browse</a></li>
        <li><a href="#">Search</a></li>
        <li><a href="#">Invite</a></li>
        <li><a href="#">Apps</a></li>
        <li><a href="#">Mail</a></li>
        <li><a href="#">Blogs</a></li>
        <li><a href="#">Favorites</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="#">Groups</a></li>
        <li><a href="#">Events</a></li>
        <li> <a href="#">MySpaceTV</a></li>
        <li><a href="#">Music</a></li>
        <li><a href="#">Comedy</a></li>
        <li><a href="#">Classifieds</a></li>
      </ul>
    </div>
    
    <div id="contentarea">
      <div class="rightcolumn">
        <div class="columnimg"></div>
        <div class="column">
          <div class="titlebar-01">
            <h1>Support Group's Latest blog entry</h1><span class="otherdetail">[Subscribe to this Blog]</span>          </div>
          <div class="content-inner">
            <div class="otherdetail">[View All Blog Entries]</div>
          </div>
        </div>
        <div class="column">
          <div class="titlebar-01">
            <h1>Support Group’s Blurb</h1>
          </div>
          <div class="content-inner">
            <div class="othertitle">
              <h1>About me:
                <p>
              Who I'd Like to meet:</h1>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="titlebar-01">
            <h1>Support Group’s Friends Space </h1>
            <h1>Support Group has 0 friends.</h1>
          </div>
          <div class="content-inner">
            <div class="otherdetail">
              You haven't added any friends yet.<br />
                To start having fun on MySpace you need to invite some friends and get the ball rolling!
            <p class="txt-bold">(Invite Your Friends Here)            </div>
          </div>
        </div>
        <div class="column">
          <div class="titlebar-01">
            <h1>Support Group's Friends comments</h1>
            <span class="otherdetail">Displaying 1 of 1 comments   </span><span class="txt-bold">View/Edit All</span></div>

            <div class="content-inner01">
              <div class="img-photo"><img src="images/photo.gif" alt="Photo" width="75" height="74" /></div>
              <div class="commentdetails">
                <span class="txt-bold">Jun 9 2008 8:49 AM</span><br />
                  Comment Back - Send Message - Block User
                <p>Lorem hisky. jhasjy jakshytrklcns ghggh</p>
              </div>
              <br class="clearboth" />
              <div class="txt-bold">(Add Comment Here)</div>
              <br class="clearboth" />
          </div>
          </div>
        </div>
 
      <div class="leftcolumn">
        <div class="column">
          <div class="titlebar">
            <h1>Support Group</h1>
          </div>
          <div class="content-inner">
            <div class="img-photo"><img src="images/photo.gif" alt="Photo" width="75" height="74" /></div>
            <div class="details">
              Female<br />
                19 years old</p>
              <p>Hip HOP Places</p>
            </div>
            <div class="otherdetail">              
              <p>&nbsp;</p>
              <p>Last Login: 6/5/2008 <br />
                <span class="txt-bold">Mood</span>:  adventurous Mood <br />
                <span class="txt-bold">View My</span>:  Pics | Videos</p>
            </div>
            <br class="clearboth" />
          </div>
        </div>
        <div class="column">
          <div align="center"><img src="images/bg-link.gif" alt="Links" width="290" height="203" /></div>
        </div>
        <div class="column">
          <div class="titlebar">
            <h1>Support Group  Details</h1>
          </div>
          <div class="content-inner"><span class="txt-bold">Status :</span>	Single<br />
            <span class="txt-bold">Zodiac Sign</span>:	Sagittarius</div>
        </div>
      </div>
    </div>
  </div>
  <br class="clearboth" />
  <div class="footer">
    <ul>
      <li>
      About</li>
      <li>FAQ</li>
      <li>Terms</li>
      <li>Privacy Policy</li>
      <li>Safety Tips</li>
      <li>Contact MySpace</li>
      <li>Report Abuse</li>
      <li>Advertise</li>
      <li>MySpace International</li>
      <li>lMySpace Latino </li>
    </ul>
    <p>©2003-2008 MySpace.com. All Rights Reserved. </p>
  </div>
</form>
</body>
</html>
